<h1 class="heading">main works!!!</h1>
<h2 id="red">again...</h2>
<h3 id="red">and again...</h3>
<p id="red">and aaaaagain...</p>

<br>
<p>text for br~ </p>
<p>text for br~ </p>
<p>text for br~ </p>
<br>

<ul>
    <li>
        <span> text for test < </span>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem ipsum dolor sit.</p>
    </li>
    <li>
        <p>
            <span> text 2 for test < </span>
        </p>
    </li>
</ul>
<span> text 3 for test < </span>

<br>
<q><div>1 Lorem ipsum dolor sit amet consectetur.</div></q>
<br>
<q>2 Lorem ipsum dolor sit amet consectetur.</q>
<hr>
<div>
    <a href="http://localhost:4200">go to main</a>
<br>
    <a href="http://localhost:4200/contact">go to contact</a>
</div>
<hr>
<ul class="mark">
    <li>Mark 1</li>
    <li>Mark 2</li>
    <li>Mark 3</li>
    <li>Mark 4</li>
    <li>Mark 5</li>
    <li>Mark 6</li>
    <li>Mark 7</li>
</ul>