
body {
    padding: 30px;
}

.block {
    border: 1px solid red;
    max-width: 800px;
    margin: 0px auto;
    height: 800px;
}

.block_1 {
    background-color: rgb(150, 205, 150);
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}