
body {
    padding: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
    border: 1px solid red;
    max-width: 800px;
    margin: 0px auto;
    height: 1500px;
    position: relative;
}
.block div{
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.block_1 {
    background-color: rgb(150, 205, 150);
    position: absolute;
    left: 0;
    width: 50%;
    top: 0;
}

.block_2 {
    background-color: rgb(122, 136, 45);
    right: 0;
    position: absolute;
    width: 50%;
    top: 0;
}

